gk_log_dir: ""
log_line_regex: ""

influxdb:
  url:              ""
  user:             ""
  password:         ""
  database:         ""
  retention_policy: ""
  log_level:        0
  hostname:         ""